.container-panel-actions {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}

.panel-container {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 16px;
  gap: 8px;
  transition: all 0.5s;
  &.panel-close {
    height: 0;
    width: 0;
    overflow: hidden;
    padding: 0;
  }
}
