services:
  database:
    image: postgres:16-alpine
    container_name: process-flow-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_PORT_EXTERNAL}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    #build:
    #  context: ..
    #  dockerfile: docker/Dockerfile
    image: ghcr.io/mannuluss/process-flow-ui:latest
    container_name: process-flow-app
    depends_on:
      database:
        condition: service_healthy
    ports:
      - "${APP_PORT}:8080"
    environment:
      - DB_TYPE=${DB_TYPE}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_NAME=${DB_NAME}
      - DB_SCHEMA=${DB_SCHEMA}
      - DB_SYNCHRONIZE=${DB_SYNCHRONIZE}
      - NODE_ENV=${NODE_ENV}
    restart: always

volumes:
  postgres_data:
